<a href="https://colab.research.google.com/github/julietteclewlow/CE880/blob/main/Exercise_3_1_DataLoadingColab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CE880: An Approachable Introduction to Data Science
### Prepared by: Haider Raza (h.raza@essex.ac.uk)
### Approximate time: 120 minutes

***
## Learning Outcome 

* How to load data in the different ways to Google Colab
***

## First Way of loading data: Manually locate the file

1. Upload data manually or from code in cell 2
2. Unzip the zip file and extract all files in it

Download data from [Iris Dataset](https://www.kaggle.com/saurabh00007/iriscsv). You need a Kaggle account to donwload the data. Do a quick registration if you don't have kaggle account. 
Once the zipped file is downloaded goto next section.

In [1]:
from google.colab import files
uploaded = files.upload()

Saving iris.zip to iris.zip

In [3]:
# Unzip Data 
from zipfile import ZipFile
file_name = "/content/iris.zip"
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('done')

done

In [4]:
# Read CSV file using pandas
import pandas as pd
df=pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## Second Way of loading data: Mounting Google Drive

1. Mount Google Drive and upload the data to Google drive
2. Unzip the zip file and extract all files in it

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Upload data
from zipfile import ZipFile
file_name = '/content/drive/My Drive/singapore-airbnb.zip' # Upload any Zipped files in your Google Drive
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('done')

done

In [ ]:
# Read CSV file using pandas
import pandas as pd
df=pd.read_csv('listings.csv')
df.head()

      id  ... availability_365
0  49091  ...              365
1  50646  ...              365
2  56334  ...              365
3  71609  ...              353
4  71896  ...              355

[5 rows x 16 columns]

## Third Way of loading data: Using Git

Some times your data is too big in size such as in GBs, so create a new Git repository and upload your data there and then use Git to clone it 

1. Create a new repo in Git and upload your data
2. Clone it in Colab
3. Unzip the zip file and extract all files in it

In [6]:
!git clone https://github.com/awesomedata/awesome-public-datasets.git

Cloning into 'awesome-public-datasets'...
remote: Enumerating objects: 2020, done.
remote: Counting objects: 100% (22/22), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 2020 (delta 12), reused 12 (delta 10), pack-reused 1998
Receiving objects: 100% (2020/2020), 860.93 KiB | 7.90 MiB/s, done.
Resolving deltas: 100% (1221/1221), done.

In [7]:
! git clone https://github.com/datasets/country-list.git

Cloning into 'country-list'...
remote: Enumerating objects: 96, done.
remote: Total 96 (delta 0), reused 0 (delta 0), pack-reused 96
Unpacking objects: 100% (96/96), done.

In [8]:
# Read CSV file using pandas

import pandas as pd
df=pd.read_csv('country-list/data.csv')
df.head()

             Name Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

In [9]:
!git clone https://github.com/sagihaider/Single-Trial-EEG-Classification.git

Cloning into 'Single-Trial-EEG-Classification'...
remote: Enumerating objects: 63, done.
remote: Total 63 (delta 0), reused 0 (delta 0), pack-reused 63
Unpacking objects: 100% (63/63), done.
Checking out files: 100% (25/25), done.